$iconNormalColor:rgba(40, 167, 69, 1);
$iconHoverColor:rgba(40, 167, 69, 0.7);
$divHoverColor:rgba(0,0,0,0.1);
$fontNormalColor:rgba(0,0,0,1);
$fontHoverColor:rgba(0,0,0,0.7);
$inputBgColor0:rgba(0,0,0,0.1);
$inputBgColor1:rgba(0,0,0,0);
$bgColor01:rgba(40, 167, 69, 0.5);
$bgColor02:rgba(40, 167, 69, 0.3);
$font3r:3rem;
$font2r:2rem;
$font1_5r:1.5rem;
$font1_3r:1.3rem;
$font1_2r:1.2rem;
$font08r:0.8rem;
$font1r:1rem;


*{margin:0;padding:0;border:0}

#top{
    &>p{
        text-shadow: 0 0 0.2em #8F7;
        letter-spacing: 0.5rem;
        top:30%;
        left: 50%;
        transform: translate(-50%,50%);
    }
    &>div{
        // width: 50%;
        bottom:10%;
        left: 50%;
        transform: translateX(-50%);
        box-shadow: 3px 3px 31px 0px #000;
        &>input{
            // height: 4rem;
            width: 100%;
            border-radius:5px;
        }
    }
}
#form{
    &>div{
        height: 500px;
        color:#fff;
        font-family: "微软雅黑";
        &>ul{
            width:0px;
            overflow: hidden;
            &.spread{
                width:150px;
            }
            &>li{
                white-space:nowrap;
                overflow: hidden;
                padding:1rem;
            }
        }
    }
    textarea{
        height: 500px;
    }
}


//大屏幕
@media screen and (min-width:768px){
    #top{
            &>p{
                font-size: $font2r;
            }
            &>div{
                width: 50%;
                &>input{
                    height: 4rem;
                }
            }
        }
}


//小屏幕
@media screen and (max-width:767px){
    #top{
        &>p{
            font-size: $font1_3r;
        }
        &>div{
            width: 75%;
            &>input{
                height: 2rem;
            }
        }
    }
}