$myfontNormal: rgba(40,167,69,0.8);
$myfontHover: rgba(40,167,69,1);

#header-nav{
  color:$myfontNormal !important;
  #brand{
    height: 40px;
  }
  .icon-geren2,.icon-sousuo{
    font-size:  1.5rem;
    color: $myfontNormal;
    &:hover{
      color:$myfontHover;
    }

  }
  .icon-sousuo{
    font-weight: bolder;
  }
  #nav-content{
    a{
      color:$myfontNormal;
      font-size: 1.2rem;
      &:hover{
        color:$myfontHover;
      }
    }
  }
}



@media screen and (max-width: 992px) and (min-width: 767px){

  #header-nav #nav-content{
      padding: 0;
      a{
       font-size: 14px;
        padding: 4px;

      }
    }
}