$iconNormalColor:rgba(40, 167, 69, 1);
$iconHoverColor:rgba(40, 167, 69, 0.7);
$divHoverColor:rgba(0,0,0,0.1);
$fontNormalColor:rgba(0,0,0,1);
$fontHoverColor:rgba(0,0,0,0.7);
$inputBgColor0:rgba(0,0,0,0.1);
$inputBgColor1:rgba(0,0,0,0);
$bgColor01:rgba(40, 167, 69, 0.5);
$bgColor02:rgba(40, 167, 69, 0.3);
$font2r:2rem;
$font1_5r:1.5rem;
$font1_3r:1.3rem;
$font1_2r:1.2rem;
$font08r:0.8rem;
$font1r:1rem;
$lineBg:rgba(0,0,0,0.5);
$borderColor:#ffc107;


*{margin:0;padding:0;border:0;
  outline:0;}
ul>li{
  list-style: none;
}
a{
  color:#000;
  &:hover{
    color:#000;
    text-decoration: none;
  }
}
.line{
    background:$lineBg;
    height: 1px;
    width:100px;
}
.icon-love{
  color:pink;
}
section{
  #navigation{
    .active{
      color:$iconNormalColor;
      border-bottom:2px solid $iconNormalColor;
    }
  }
  #content{
    &>div.item{
      &:hover{
        box-shadow: 0px 0px 15px 2px $borderColor;
        transition:all .3s linear;
      }
    }
  }
  #page-nav{
    &>ul>li{
      height:1.5rem;
      border:0.5px solid $inputBgColor0;
      text-align: center;
      line-height: 1.5rem;
      padding-left: 0.7rem;
      padding-right: 0.7rem;
      &:nth-child(2),&:nth-child(3),&:nth-child(4),&:nth-child(5){
        border-right:0;
      }
      &:first-child,&:last-child{
        margin:0.5rem;
      }
      &.active{
        color:#fff !important;
        background:$iconHoverColor;
      }
      &:hover{
        color:#fff !important;
        background:rgba(221,221,221,1);
      }
    }
    &>p{
      &>input{
        display: inline-block;
        width: 3rem;
        margin-left: 1rem;
        margin-right: 1rem;
        border:0.5px solid $inputBgColor0;
      }
      &>button{
        border-radius: 3px;
        padding-left: 1rem;
        padding-right: 1rem;
        margin-left: 1rem;
        color: rgba(0,0,0,0.7);
        &:hover{
          &:hover{
            background: $iconHoverColor;
          }
          &:focus{
            box-shadow: none !important;
          }
        }
      }
    }
  }
}
  //大屏幕
  @media screen and (min-width:768px) {
    section{
      #navigation{
        &>div:first-child{
          &>span{
            font-size: $font1_3r;
          }
        }
        &>form{
          &>div{
            box-shadow: inset 0px 0px 19px 2px rgba(0,0,0,0.3);
            font-size:1.3rem; 
            width:2rem; 
            height:2rem; 
            border-radius:1rem;
            &>input{
              opacity: 0;
            }
            &:hover{
              padding-left:1.2rem;
              width:16rem;
              transition:width 0.5s linear;
            }
          }
        }
      }
      #content{
        &>div.item{
          height:165px;
          &>div:nth-child(2){
            &>h5{
              height:25%;
              font-size: $font1_2r;
            }
            &>p{
              line-height: 1.4;
              height:50%;
              font-size: $font1r;
              // white-space: nowrap;
              overflow: hidden;
              text-overflow:ellipsis;
            }
            &>div{
              height: 25%;
              font-size: $font08r;
            }
          }
        }

      }
      #page-nav{
        font-size:$font1_2r;
      }
    } 
  }
  //小屏幕
  @media screen and (max-width: 767px) {
    //.tab{
    //    &>p{
    //        font-size: $font1r;
    //    }
    //}
    section{
      #navigation{
        &>div:first-child{
          &>span{
            font-size: $font08r;
          }
        }
      }
      #content{
        &>div.item{
          height:80px;
          &>div:nth-child(2){
            &>h5{
              height:25%;
              font-size: $font1r;
            }
            &>p{
              line-height: 1.4;
              height:50%;
              font-size: $font08r;
              overflow: hidden;
              text-overflow:ellipsis;
            }
            &>div{
              height: 25%;
              font-size: $font08r;
            }
          }
        }

      }
      #page-nav{
        font-size:$font08r;
        &>ul>li{
          font-size: $font08r;
        }
      }
    }
  }