
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Lemon-发表游记</title>
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <link rel="stylesheet" href="../css/bootstrap.css" />
    <link rel="stylesheet" href="../css/iconfont.css" />
    <link rel="shortcut icon" href="../img/logo/lemon_logo_pic.png" />
    <link rel="stylesheet" href="../css/add_travel.css" />
    <!-- <script src="../js/jquery.min.js"></script> -->
    <!-- <script src="../js/popper.min.js"></script> -->
    <!-- <script src="../js/bootstrap.min.js"></script> -->
    <style>
      * {
        
        /* border:1px solid #000; */
      }
    </style>
  </head>

  <body>
    <header></header>
    <form action="post" enctype="multipart/form-data">
      <div id="top" class="container-fluid position-relative w-100 p-0 m-0">
        <picture>
          <source
            media="(min-width: 1000px)"
            srcset="../img/carousel/lb08.png"
          />
          <source
            media="(max-width:999px)"
            srcset="../img/carousel/lb08_500x250.png"
          />
          <img class=" w-100" src="../img/carousel/picture.png" />
        </picture>
        <p class="position-absolute text-white">-记录精彩瞬间-</p>
        <div class="position-absolute">
          <input class="p-3" type="text" placeholder="填写游记标题" autofocus/>
        </div>
      </div>
      <div class="container p-0">
        <div id="content" class="position-relative">
          <div id="section" class="position-relative border p-0 pt-2 section">
            <!-- 暂存图片用户不可见start -->
            <div id="preview" class="position-absolute">
            </div>
            <!-- 暂存图片用户不可见end -->
            <textarea
              class="w-100 p-3 pr-5"
              rows="1" 
              placeholder="从这里开始，记录旅程的点点滴滴..."
            ></textarea>
          </div>
          <!-- 侧边栏aside start -->
          <div
            id="aside"
            class="position-absolute bg-white p-0 aside"
            style=" top:0;right:0;"
          >
            <div id="alert-insert" class="d-flex  align-items-center alert-insert">
              <div class="m-auto">
                <span
                  id="arrow"
                  class="iconfont icon-arrow_l align-items-center h3"
                ></span>
              </div>
              <ul class="d-flex flex-column justify-content-center pt-3 m-0">
                <li id="insertImg" class="position-relative mr-1 btn-shadow">
                  <span
                  href="javascript:;"
                  class="iconfont icon-tupian text-warning h4"
                  ></span>
                  <span>&nbsp;&nbsp;插入图片</span>
                  <input id="fileImg"
                    accept="image/*"
                    class="hide-input"
                    type="file"
                  />
                </li>
                <li id="insertVideo" class="position-relative mr-1 btn-shadow">
                  <span
                  href="javascript:;"
                  class="iconfont icon-shipin text-warning h4"
                  ></span>
                  <span>&nbsp;&nbsp;插入视频</span>                
                  <input id="fileVideo"
                    accept="video/*"
                    class="hide-input"
                    type="file"
                  />
                </li>
                <li  id="insertTitle" class="position-relative mr-1 btn-shadow">                 
                  <span
                  href="javascript:;"
                  class="iconfont icon-biaoti text-warning h4"
                  ></span>
                  <span>&nbsp;&nbsp;插入段落标题</span>                  
                  <input id="btnTitle" class="hide-input" type="button" />
                </li>
                <li  id="insertTxt" class="position-relative mr-1 btn-shadow">     
                  <span
                  href="javascript:;"
                  class="iconfont icon-txt text-warning h4"
                  ></span>
                  <span>&nbsp;&nbsp;插入文本</span>
                  <input id="btnTxt" class="hide-input" type="button"/>
                </li>
                <li class="position-relative d-flex flex-column p-0 mr-1 text-muted">
                  <small class="text-center pt-2">16:41:11</small>
                  <small class="text-center pt-2 pb-2">保存了草稿</small>
                </li>
                <li class="position-relative p-1 mr-1 my-btn text-center">
                  <button class="h-100 bg-white">
                    <small class="text-success">保存草稿</small>
                  </button>
                </li>
                <li class="position-relative mr-1 pt-3">
                  <h6 class="text-center m-0 pb-1 border-bottom">游记目录</h6>
                  <ol id="travel-list" class="text-muted pl-2 pt-2">
                    <li><small>1/&nbsp;&nbsp;默认段落</small></li>
                  </ol>
                </li>
              </ul>
            </div>
          </div>
          <!-- 侧边栏aside end -->
          <div class="my-btn w-100 text-center mb-3">
            <button class="m-2">预览</button> <button class="m-2">发表</button>
          </div>
        </div>
      </div>
    </form>



    <!-- 插入图片尺寸不合适时弹出提示 start -->
    <div id="pop-mask" class="fixed-top w-100 h-100 d-none" style="z-index:300; background: rgba(0,0,0,0.5)">
      <div class="fixed-top bg-light d-flex flex-column justify-content-center" style="z-index:301;top:50%;left: 50%;transform: translate(-50%,-50%);width:270px;height:165px;box-shadow: 0px 0px 31px 0px #000;border-radius: 5px;">
          <div class="h6 p-4">您选择的图片尺寸太小，请选择尺寸大于100px*50px的图片</div>
          <div class="text-center">
              <button class="btn btn-warning w-25">确定</button>
          </div>
        </div>
    </div>
    <!--插入图片后弹出提示 end-->
    <script src="../js/jquery-1.11.3.js"></script>
    <script src="../js/autosize.js"></script>
    <script src="../js/header.js"></script>
    <script src="../js/add_travel.js"></script>
    <script src="../js/footer.js"></script>
  </body>
</html>
