
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Lemon-发表游记</title>
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <link rel="stylesheet" href="../css/bootstrap.css" />
    <link rel="stylesheet" href="../css/iconfont.css" />
    <link rel="shortcut icon" href="../img/logo/lemon_logo_pic.png" />
    <link rel="stylesheet" href="../css/add_travel.css" />
    <!-- <script src="../js/jquery.min.js"></script> -->
    <!-- <script src="../js/popper.min.js"></script> -->
    <!-- <script src="../js/bootstrap.min.js"></script> -->
    <style>
      * {
        
        /* border:1px solid #000; */
      }
    </style>
  </head>

  <body>
    <header></header>
    <!-- 暂存图片用户不可见start -->
    <div id="preview" class="position-absolute">
    </div>
    <!-- 暂存图片用户不可见end -->

    <form action="post" enctype="multipart/form-data">

      <div id="top" class="container-fluid position-relative w-100 p-0 m-0">
        <picture>
          <source
            media="(min-width: 1000px)"
            srcset="../img/carousel/lb08.png"
          />
          <source
            media="(max-width:999px)"
            srcset="../img/carousel/lb08_500x250.png"
          />
          <img class="w-100 bigImg" src="../img/carousel/picture.png" />
        </picture>
        <!-- 上传头图 -->
        <div class="position-absolute d-flex flex-column justify-content-center headerImg">
          <p class="mb-0">
            <a id="headerImg-icon" href="javascript:;" >
              <span class="iconfont icon-tupian text-warning"></span>
            </a>
          </p>
          <input id="headerImg-btn" accept="image/*" type="file"/>
          <div>
            <p class="text-white mb-0">设置游记头图</p>
            <p class="text-white mb-1 d-none d-sm-block">请选择尺寸大于270px*165px的高清图片上传</p>
          </div>
          <div class="title">
            <input class="p-3" type="text" placeholder="填写游记标题" autofocus/>
          </div>
        </div>
      </div>

      <div class="container p-0">
        <!-- 添加区域主体start -->
        <div id="content" class="position-relative">
          <div id="section" class="position-relative border p-0 pt-2 section">
            <!-- <div></div> -->
            <textarea
              class="w-100 p-3 pr-5"
              rows="1" 
              placeholder="从这里开始，记录旅程的点点滴滴..."
              data-type="parag"></textarea>
          </div>
          <!-- 添加区域主体end -->

          <!-- 侧边栏aside start -->
          <div
            id="aside"
            class="position-absolute bg-white p-0 aside"
            style=" top:0;right:0;"
          >
            <div id="alert-insert" class="d-flex  align-items-center alert-insert">
              <div class="m-auto">
                <span
                  id="arrow"
                  class="iconfont icon-arrow_l align-items-center h3"
                ></span>
              </div>
              <ul class="d-flex flex-column justify-content-center pt-3 m-0">
                <li id="insertImg" class="position-relative mr-1 btn-shadow">
                  <span
                  class="iconfont icon-tupian text-warning h4"
                  ></span>
                  <span>&nbsp;&nbsp;插入图片</span>
                  <input id="fileImg"
                    accept="image/*"
                    class="hide-input"
                    type="file"
                  />
                </li>
                <li id="insertVideo" class="position-relative mr-1 btn-shadow">
                  <span                  
                  class="iconfont icon-shipin text-warning h4"
                  ></span>
                  <span>&nbsp;&nbsp;插入视频</span>                
                  <input id="fileVideo"
                    accept="video/*"
                    class="hide-input"
                    type="file"
                  />
                </li>
                <li  id="insertTitle" class="position-relative mr-1 btn-shadow">                 
                  <span                 
                  class="iconfont icon-biaoti text-warning h4"
                  ></span>
                  <span>&nbsp;&nbsp;插入段落标题</span>                  
                  <input id="btnTitle" class="hide-input" type="button" />
                </li>
                <li  id="insertTxt" class="position-relative mr-1 btn-shadow">     
                  <span                  
                  class="iconfont icon-txt text-warning h4"
                  ></span>
                  <span>&nbsp;&nbsp;插入文本</span>
                  <input id="btnTxt" class="hide-input" type="button"/>
                </li>
                <li class="position-relative d-flex flex-column p-0 mr-1 text-muted">
                  <small class="text-center pt-2">16:41:11</small>
                  <small class="text-center pt-2 pb-2">保存了草稿</small>
                </li>
                <li class="position-relative p-1 mr-1 my-btn text-center">
                  <button class="h-100 bg-white">
                    <small class="text-success">保存草稿</small>
                  </button>
                </li>
                <li class="position-relative mr-1 pt-3">
                  <h6 class="text-center m-0 pb-1 border-bottom">游记目录</h6>
                  <ol id="travel-list" class="text-muted pl-2 pt-2">
                    <li><small>1/&nbsp;&nbsp;默认段落</small></li>
                  </ol>
                </li>
              </ul>
            </div>
          </div>
          <!-- 侧边栏aside end -->
          <div class="my-btn w-100 text-center mb-3">
            <button class="m-2" type="button">预览</button> <button id="submit" class="m-2" type="button">发表</button>
          </div>
        </div>
      </div>
    </form>



    <!-- 插入图片尺寸不合适时弹出提示 start -->
    <div id="pop-alert" class="fixed-top w-100 h-100 d-none pop-mask">
      <div class="fixed-top bg-light d-flex flex-column justify-content-center size-alert" >
          <div id="alert1" class="h6 p-4 d-none">您选择的图片尺寸太小，请选择尺寸大于100px*50px的图片</div>
          <div id="alert2" class="h6 p-4 d-none">您选择的图片尺寸太小，请选择尺寸大于270px*165px的图片</div>
          <div class="text-center">
              <button class="btn btn-warning w-25">确定</button>
          </div>
        </div>
    </div>
    <!--插入图片后弹出提示 end-->
    <!-- 弹出设置头图 start -->
    <div id="pop-img" class="fixed-top w-100 h-100 pop-mask d-none">
      <div class="load-img position-absolute" > 
          <div class="position-relative">
            <img class="img-box" src="">
            <div id="selected-area" class="position-absolute"></div>
            <canvas id="my-canvas" ></canvas>
          </div> 
        <div class="d-flex justify-content-center mt-3" data-target="btn">
            <button class="btn btn-dark mr-5 pl-4 pr-4" data-target="cancel">取消</button>   
            <button class="btn btn-dark ml-5 pl-4 pr-4" data-target="sure">确定</button>
        </div>
      </div> 
      
    </div>
    <!-- 弹出设置头图 end -->
    <script src="../js/jquery-1.11.3.js"></script>
    <script src="../js/autosize.js"></script>
    <script src="../js/header.js"></script>
    <script src="../js/add_travel.js"></script>
    <script src="../js/footer.js"></script>
  </body>
</html>
