<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Lemon-发表游记</title>
    <meta name="viewport" content="width=device-width,initial-scale=1"/>
    <link rel="stylesheet" href="../css/bootstrap.css">
    <link rel="stylesheet" href="../css/iconfont.css">
    <link rel="shortcut icon" href="../img/logo/lemon_logo_pic.png"/>
    <link rel="stylesheet" href="../css/add_travel.css">
    <!-- <script src="../js/jquery.min.js"></script> -->
    <!--<script src="../js/popper.min.js"></script>-->
    <!--<script src="../js/bootstrap.min.js"></script>-->
    <style>
    /* *{
        /* border:1px solid #000;
    }  */
    </style>
</head>

<body >
<header></header>
<form action="post" enctype="multipart/form-data">
    <div id="top" class="container-fluid position-relative w-100 p-0 m-0">
        <picture>
            <source media="(min-width: 1000px)" srcset="../img/carousel/lb08.png">
            <source media="(max-width:999px)" srcset="../img/carousel/lb08_500x250.png">
            <img class="w-100" src="../img/carousel/picture.png">
        </picture>
        <p class="position-absolute text-white">
            -记录精彩瞬间-
        </p>  
        <div class="position-absolute">
            <input class="p-3" type="text" placeholder="填写游记标题">
        </div>
    </div>
    <div class="container">
         <div id="content" class="row"> 
            <div class="col border p-0">
                <textarea class="w-100 p-3" rows="" cols="" placeholder="从这里开始，记录旅程的点点滴滴...">
                    <img src="../img/170-240/Malaysia01.png" alt="">
                </textarea>
                <img src="../img/170-240/Malaysia01.png" alt="">
            </div>
            <div class="col-auto d-flex p-0 aside">
                <div class="m-auto h-100 d-flex align-items-center">
                    <span id="arrow" class="iconfont icon-arrow_l align-items-center h3"></span>
                </div>
                <ul class="pt-3 m-0">
                    <li class="position-relative">
                        <span href="javascript:;" class="iconfont icon-tupian text-warning h4"></span>
                        <span>&nbsp;&nbsp;插入图片</span>
                        <input accept="image/*" class="position-absolute" type="file"/>
                    </li>
                    <li class="position-relative">
                        <span href="javascript:;" class="iconfont icon-shipin text-warning h4"></span>
                        <span>&nbsp;&nbsp;插入视频</span>
                        <input accept="video/*" class="position-absolute" type="file"/>
                    </li>
                    <li class="position-relative">
                        <span href="javascript:;" class="iconfont icon-biaoti text-warning h4"></span>
                        <span>&nbsp;&nbsp;插入段落标题</span>
                        <!-- <input class="position-absolute" type="file"/> -->
                    </li>
                    <li class="position-relative">
                        <span href="javascript:;" class="iconfont icon-yinle text-warning h4"></span>
                        <span>&nbsp;&nbsp;添加背景音乐</span>
                        <input accept="audio/*" class="position-absolute" type="file"/>
                    </li>
                    <li>
                        <input accept="image/*" type="file"/ style="opacity: 1;">
                    </li>
                </ul>
            </div>
            <div class="col-12 my-btn w-100 text-center">
                    <button class="m-2">预览</button>
                    <button class="m-2">发表</button>   
            </div>
        </div> 
        <!-- <div id="content" class="row">
                <div class="col-md p-0">
                    <textarea class="w-100 p-3 border" rows="" cols="" placeholder="从这里开始，记录旅程的点点滴滴..."></textarea>
                </div>
                <div class="col-md-auto d-flex bg-dark p-0 aside">
                    <span class="iconfont icon-arrow_l align-items-center text-white m-auto h3 "></span>
                    <ul class="spread">
                        <li>
                            <a class="iconfont icon-tupian text-warning h4"></a>
                            <span>&nbsp;&nbsp;插入图片</span>
                        </li>
                        <li>
                            <a class="iconfont icon-shipin text-warning h4"></a>
                            <span>&nbsp;&nbsp;插入视频</span>
                        </li>
                        <li>
                            <a class="iconfont icon-biaoti text-warning h4"></a>
                            <span>&nbsp;&nbsp;插入段落标题</span>
                        </li>
                        <li>
                            <a class="iconfont icon-yinle text-warning h4"></a>
                            <span>&nbsp;&nbsp;添加背景音乐</span>
                        </li>
                    </ul>
                </div>
                <div class="my-btn w-100 text-center">
                    <button>预览</button>
                    <button>发表</button>   
                </div>
            </div> -->
    </div>
</form>

<footer></footer>
<script src="../js/jquery-1.11.3.js"></script>
<script src="../js/header.js"></script>
<script src="../js/add_travel.js"></script>
<script src="../js/footer.js"></script>
</body>
</html>