<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>我的信息</title>
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <link rel="stylesheet" href="../css/bootstrap.css">
    <link rel="stylesheet" href="../css/iconfont.css">
    <link rel="shortcut icon" href="../img/logo/lemon_logo_pic.png" />
    <link rel="stylesheet" href="../css/personal.css">
</head>

<body>
    <header></header>
    <section class="container info pt-5 mt-5">
        <div class="row">
        <div class="col-sm-3 border-right catalog">
            <div class=""> 
                <h4>个人中心</h4>
                <ul class="pointer_nav_right mt-3">
                    <li class="mt-2  p-0 col-sm-6 col-5 mr-0">
                       <i class="iconfont icon-touxiang pr-2"></i><b>我的信息</b>
                    </li>
                    <li class="mt-2 p-0 col-sm-6 col-5 mr-0">
                       <i class="iconfont icon-fabiaoyouji pr-1"></i> <b>发表过的游记</b>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-sm-9">
            <div class="profile">
                <p><span>我的消息</span><span>资料完善度</span><b>65%</b></p>
    
                <form class="form-horizontal">
                    <div class="form-group">
                        <label class="col-sm-2 control-label">用户名</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control"  >
                        </div>
                    </div>

                    <div class="form-group">
                            <label for="inputPassword" class="col-sm-2 control-label">手机号</label>
                            <div class="col-sm-10">
                              <input type="password" class="form-control" id="inputPassword" placeholder="Password">
                            </div>
                          </div>
                </form>
            </div>
            <div class="publicTxt"></div>
        </div>
    </div>
    </section>
    <footer></footer>

    <script src="../js/jquery.min.js"></script>
    <script src="../js/personal.js"></script>
    <script src="../js/header.js"></script>
    <script src="../js/footer.js"></script>
    <script src="../js/popper.min.js"></script>
    <script src="../js/bootstrap.min.js"></script>
</body>

</html>