<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>我的信息</title>
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <link rel="stylesheet" href="../css/bootstrap.css">
    <link rel="stylesheet" href="../css/iconfont.css">
    <link rel="shortcut icon" href="../img/logo/lemon_logo_pic.png" />
    <link rel="stylesheet" href="../css/personal.css">
</head>

<body>
    <header></header>
    <section class="container info pt-5 mt-5 mb-5">
        <div class="row">
            <div class="col-sm-3 border-right catalog">
                <div class="w-100">
                    <h4>个人中心</h4>
                    <ul class="pointer_nav_right mt-3">
                        <li class="mt-2  p-0 col-sm-6 col-5 mr-0 active">
                            <i class="iconfont icon-touxiang pr-2"></i><b>我的信息</b>
                        </li>
                        <li class="mt-2 p-0 col-sm-6 col-5 mr-0">
                            <p class="publicTraval"><i class="iconfont icon-fabiaoyouji pr-1"></i> <b>发表过的游记</b></p>   
                            <ul class="ml-2 d-none publicList">
                                <li><a href="#">风筝有风，海...</a></li>
                                <li><a href="#">风筝有风，海豚有海。</a></li>
                                <li><a href="#">风筝有风，海...</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-9">
                <div class="profile ">
                    <p><span class="title pr-4">我的消息</span><span>资料完善度</span><b>65%</b></p>
                    <form class="form-group">
                        <div class="unameDiv">
                            <div class="row m-2 mt-3">
                                <label for='uname' class="col-2 control-label p-0">昵称：</label>
                                <div class="col-10">
                                    <input type="text " class="form-control pl-0" id="uname">  
                                    <p class=" tips"></p>
                                </div>
                            </div>
                            <div class="row m-2 mt-2">
                                <label class="col-2 control-label p-0 col-2">性别：</label>
                                <div class="col-6 col-10">
                                    <input type="radio" id="male" name='sex' value='1'>
                                    <label for='male' class="">男</label>
                                    <input type="radio" id="female" name='sex' value='0'> <label for='female' class="">女</label>
                                    <input type="radio" id="secret" name='sex' value='-1'> <label for='secret' class="">保密</label>
                                </div>
                            </div>

                            <div class="row m-2 mt-2">
                                <label for='phone' class="col-2 control-label p-0 col-2">密码：</label>
                                <div class="col-6 col-10">
                                    <input type="password" class="form-control" id="phone">
                                    <p class=" tips"></p>
                                </div>
                            </div>

                            <div class="row m-2 mt-2 d-none">
                                <label for='phone' class="col-2 control-label p-0 col-2">确认密码：</label>
                                <div class="col-6 col-10">
                                    <input type="password" class="form-control" id="phone">
                                    <p class=" tips"></p>
                                </div>
                            </div>
                            

                            <div class="row m-2 mt-2">
                                <label for='phone' class="col-2 control-label p-0 col-2">手机号：</label>
                                <div class="col-6 col-10">
                                    <input type="text" class="form-control" id="phone">
                                    <p class=" tips"></p>
                                </div>
                            </div>

                            <div class="row m-2 mt-2">
                                <label for='email' class="col-2 control-label p-0 col-2">邮箱：</label>
                                <div class=" col-10">
                                    <input type="text" class="form-control" id="email">              
                                     <span class="tips"></span>
                                </div>
                 
                            </div>

                            <div class="row m-2 mt-2 ">
                                <label for='email' class="col-2 control-label p-0">简介：</label>
                                <div class=" col-10">
                                    <textarea class="form-control text-muted" rows="6" name='hobby' id="hobby"
                                        placeholder="例：摄影师/徒步/潜水爱好者"></textarea>         
                                         <span class="tips"></span>
                                </div>
                            </div>

                            <div class="row mt-3 mb-5 pb-5">
                                    <div class="col-12 text-center">
                                            <input type="reset" value='重置' class=" btn btn-secondary">
                                            <input type="submit" value="保存" class=" btn  btn-danger" >
                                    </div>
                            </div>

                        </div>
                    </form>
                </div>              
                </div>
            </div>
        </div>
    </section>
    <footer></footer>

    <script src="../js/jquery.min.js"></script>
    <script src="../js/personal.js"></script>
    <script src="../js/header.js"></script>
    <script src="../js/footer.js"></script>
    <script src="../js/popper.min.js"></script>
    <script src="../js/bootstrap.min.js"></script>
</body>

</html>