<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>图片墙</title>
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <link rel="stylesheet" href="../css/bootstrap.css">
    <link rel="stylesheet" href="../css/iconfont.css">
    <link rel="shortcut icon" href="../img/logo/lemon_logo_pic.png" />
    <link rel="stylesheet" href="../css/pics.css">
</head>

<body>
    <header></header>
    <section class="container-fulid mt-5 p-5">
        <div class="container">
           <div class="row itl">
               <img src="../img/pics/title.png" class="w-100">欢迎来到柠檬的宝藏库！
                <span class="">2018</span>

           </div>
            
        </div>
    </section>
    <footer></footer>

    <script src="../js/jquery.min.js"></script>
    <script src="../js/pics.js"></script>
    <script src="../js/header.js"></script>
    <script src="../js/footer.js"></script>
    <script src="../js/popper.min.js"></script>
    <script src="../js/bootstrap.min.js"></script>
</body>

</html>