<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Lemon</title>

    <!--favicon -->
    <link rel="stylesheet" href="../css/bootstrap.css">
    <link rel="stylesheet" href="../css/base.css">
    <link rel="stylesheet" href="../css/pointer.css">
    <link rel="stylesheet" href="../css/header.css">
    <link rel="shortcut icon" href="../img/logo/lemon_logo_pic.png" />
    <link rel="stylesheet" href="../css/iconfont.css">
</head>

<body>
    <!-- <div class="list-title p-2 position-absolute w-100">热门旅游地</div> -->
    <div class="container city-lists">
        <div class="row">
            <div class="col-sm-7 list-left">
                <ul class="row">
                    <li class="list_cutLi col-sm-3 p-4">南京</li>
                    <li class="col-sm-3  p-4">上海</li>
                    <li class="col-sm-3 p-4">武汉</li>
                    <li class="col-sm-3 p-4">西安</li>
                    <li class="col-sm-3 p-4">长春</li>
                    <li class="col-sm-3 p-4">大连</li>
                    <li class="col-sm-3 p-4">成都</li>
                    <li class="col-sm-3 p-4">杭州</li>
                    <li class="col-sm-3 p-4">沈阳</li>
                    <li class="col-sm-3 p-4">合肥</li>
                    <li class="col-sm-3 p-4">长沙</li>
                    <li class="col-sm-3 p-4">郑州</li>
                    <li class="col-sm-3 p-4">沈阳</li>
                    <li class="col-sm-3 p-4">合肥</li>
                    <li class="col-sm-3 p-4">长沙</li>
                    <li class="col-sm-3 p-4">郑州</li>
                </ul>
            </div>

            <div class="list-right col-sm-5 p-0">
                <div class="card ">
                    <div class="card-header text-center p-2">南京基地</div>
                    <div class="card-body pt-0 pb-0 mt-1 mb-1">
                        <img src="../img/390-552/hg_cd.png" class="w-100" height="166rem" />
                    </div>
                    <div class="card-footer views pb-0">
                        介绍北大资源研修学院位于北京市中关村北区核心地带，占地面积近200亩，拥有30多间标准化多媒体教室...
                    </div>
                </div>

                <div class="card ">
                    <div class="card-header text-center p-2">南京基地</div>
                    <div class="card-body pt-0 pb-0 mt-1 mb-1">
                        <img src="../img/390-552/china-xizang08_390_552.png" class="w-100" height="166rem" />
                    </div>
                    <div class="card-footer views pb-0">
                        介绍北大资源研修学院位于北京市中关村北区核心地带，占地面积近200亩，拥有30多间标准化多媒体教室...
                    </div>
                </div>

                <div class="card ">
                    <div class="card-header text-center p-2">南京基地</div>
                    <div class="card-body pt-0 pb-0 mt-1 mb-1">
                        <img src="../img/390-552/china-qinghaihu04_390_552.png" class="w-100" height="166rem" />
                    </div>
                    <div class="card-footer views pb-0">
                        介绍北大资源研修学院位于北京市中关村北区核心地带，占地面积近200亩，拥有30多间标准化多媒体教室...
                    </div>
                </div>

                <div class="card ">
                    <div class="card-header text-center p-2">南京基地</div>
                    <div class="card-body pt-0 pb-0 mt-1 mb-1">
                        <img src="../img/390-552/china-jiuzhaigou06_390_552.png" class="w-100" height="166rem" />
                    </div>
                    <div class="card-footer views pb-0">
                        介绍北大资源研修学院位于北京市中关村北区核心地带，占地面积近200亩，拥有30多间标准化多媒体教室...
                    </div>
                </div>

                <div class="card ">
                    <div class="card-header text-center p-2">南京基地</div>
                    <div class="card-body pt-0 pb-0 mt-1 mb-1">
                        <img src="../img/390-552/hg_cd.png" class="w-100" height="166rem" />
                    </div>
                    <div class="card-footer views pb-0">
                        介绍北大资源研修学院位于北京市中关村北区核心地带，占地面积近200亩，拥有30多间标准化多媒体教室...
                    </div>
                </div>


                <div class="card ">
                    <div class="card-header text-center p-2">南京基地</div>
                    <div class="card-body pt-0 pb-0 mt-1 mb-1">
                        <img src="../img/390-552/china-xizang08_390_552.png" class="w-100" height="166rem" />
                    </div>
                    <div class="card-footer views pb-0">
                        介绍北大资源研修学院位于北京市中关村北区核心地带，占地面积近200亩，拥有30多间标准化多媒体教室...
                    </div>
                </div>

                <div class="card ">
                    <div class="card-header text-center p-2">南京基地</div>
                    <div class="card-body pt-0 pb-0 mt-1 mb-1">
                        <img src="../img/390-552/china-qinghaihu04_390_552.png" class="w-100" height="166rem" />
                    </div>
                    <div class="card-footer views pb-0">
                        介绍北大资源研修学院位于北京市中关村北区核心地带，占地面积近200亩，拥有30多间标准化多媒体教室...
                    </div>
                </div>

                <div class="card ">
                    <div class="card-header text-center p-2">南京基地</div>
                    <div class="card-body pt-0 pb-0 mt-1 mb-1">
                        <img src="../img/390-552/china-jiuzhaigou06_390_552.png" class="w-100" height="166rem" />
                    </div>
                    <div class="card-footer views pb-0">
                        介绍北大资源研修学院位于北京市中关村北区核心地带，占地面积近200亩，拥有30多间标准化多媒体教室...
                    </div>
                </div>

                <div class="card ">
                    <div class="card-header text-center p-2">南京基地</div>
                    <div class="card-body pt-0 pb-0 mt-1 mb-1">
                        <img src="../img/390-552/hg_cd.png" class="w-100" height="166rem" />
                    </div>
                    <div class="card-footer views pb-0">
                        介绍北大资源研修学院位于北京市中关村北区核心地带，占地面积近200亩，拥有30多间标准化多媒体教室...
                    </div>
                </div>


                <div class="card ">
                    <div class="card-header text-center p-2">南京基地</div>
                    <div class="card-body pt-0 pb-0 mt-1 mb-1">
                        <img src="../img/390-552/china-xizang08_390_552.png" class="w-100" height="166rem" />
                    </div>
                    <div class="card-footer views pb-0">
                        介绍北大资源研修学院位于北京市中关村北区核心地带，占地面积近200亩，拥有30多间标准化多媒体教室...
                    </div>
                </div>

                <div class="card ">
                    <div class="card-header text-center p-2">南京基地</div>
                    <div class="card-body pt-0 pb-0 mt-1 mb-1">
                        <img src="../img/390-552/china-qinghaihu04_390_552.png" class="w-100" height="166rem" />
                    </div>
                    <div class="card-footer views pb-0">
                        介绍北大资源研修学院位于北京市中关村北区核心地带，占地面积近200亩，拥有30多间标准化多媒体教室...
                    </div>
                </div>

                <div class="card ">
                    <div class="card-header text-center p-2">南京基地</div>
                    <div class="card-body pt-0 pb-0 mt-1 mb-1">
                        <img src="../img/390-552/china-jiuzhaigou06_390_552.png" class="w-100" height="166rem" />
                    </div>
                    <div class="card-footer views pb-0">
                        介绍北大资源研修学院位于北京市中关村北区核心地带，占地面积近200亩，拥有30多间标准化多媒体教室...
                    </div>
                </div>

                <div class="card ">
                    <div class="card-header text-center p-2">南京基地</div>
                    <div class="card-body pt-0 pb-0 mt-1 mb-1">
                        <img src="../img/390-552/hg_cd.png" class="w-100" height="166rem" />
                    </div>
                    <div class="card-footer views pb-0">
                        介绍北大资源研修学院位于北京市中关村北区核心地带，占地面积近200亩，拥有30多间标准化多媒体教室...
                    </div>
                </div>


                <div class="card ">
                    <div class="card-header text-center p-2">南京基地</div>
                    <div class="card-body pt-0 pb-0 mt-1 mb-1">
                        <img src="../img/390-552/china-xizang08_390_552.png" class="w-100" height="166rem" />
                    </div>
                    <div class="card-footer views pb-0">
                        介绍北大资源研修学院位于北京市中关村北区核心地带，占地面积近200亩，拥有30多间标准化多媒体教室...
                    </div>
                </div>

                <div class="card ">
                    <div class="card-header text-center p-2">南京基地</div>
                    <div class="card-body pt-0 pb-0 mt-1 mb-1">
                        <img src="../img/390-552/china-qinghaihu04_390_552.png" class="w-100" height="166rem" />
                    </div>
                    <div class="card-footer views pb-0">
                        介绍北大资源研修学院位于北京市中关村北区核心地带，占地面积近200亩，拥有30多间标准化多媒体教室...
                    </div>
                </div>

                <div class="card ">
                    <div class="card-header text-center p-2">南京基地</div>
                    <div class="card-body pt-0 pb-0 mt-1 mb-1">
                        <img src="../img/390-552/china-jiuzhaigou06_390_552.png" class="w-100" height="166rem" />
                    </div>
                    <div class="card-footer views pb-0">
                        介绍北大资源研修学院位于北京市中关村北区核心地带，占地面积近200亩，拥有30多间标准化多媒体教室...
                    </div>
                </div>


            </div>
        </div>
    </div>

    

    <script src="../js/jquery.min.js"></script>
     <script src="../js/pointer.js"></script> 
    <script src="../js/popper.min.js"></script>
    <script src="../js/bootstrap.min.js"></script>
</body>

</html>