<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>攻略/重庆</title>
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <link rel="stylesheet" href="../css/bootstrap.css">
    <link rel="stylesheet" href="../css/iconfont.css">
    <link rel="shortcut icon" href="../img/logo/lemon_logo_pic.png" />
    <link rel="stylesheet" href="../css/strategy_details.css">
</head>
<header></header>

<section class='container strategy_details pt-5 mt-4'>
    <p>
        <a href="#">首页</a>&gt;
        <a href="#">重庆</a>&gt;
        <a href="#">自由行攻略</a>
    </p>
    <div class="row bigTitle mb-3">
        <div class="col-md-8 col-sm-8 col-12 ">
            <h3>重庆48h｜网红、艺术、市井全体验，山城这样玩才地道！</h3>
            <p class="float-right p-2 text-muted">发布时间:<span class="pr-3">2018-5-8</span>阅读量:<span>355316</span></p>
        </div>
      
        <ul class='tag col-md-4 col-sm-4 col-12 d-flex flex-row justify-content-end'>
                <li class="pr-4"><p class="mb-0"> <i class="iconfont icon-dianping"></i></p><p>评论</p></li>
                <li class="pr-4"><p class="mb-0"> <i class="iconfont icon-zan"></i></p><p>点赞</p></li>
                <li class="pr-4"><p class="mb-0"> <i class="iconfont icon-fenxiang1"></i></p><p>分享</p></li>
        </ul>
      
    </div>
    <div class="row details">
    <div class="content col-md-8 col-sm-8 col-12">
       <h5>“如果你只有2天时间，想要这样带你玩转魔幻重庆~</h5>
       重庆这座极具特点的魔幻城市，有太多的美食美景值得驻足，立体的城市建设、
       复杂的地形，导航也拿他没辙；江湖菜的霸道，火锅的豪气，辣到流眼泪也停
       不下来；还有重庆人，也是直爽泼辣得可爱……
       如果你有2天时间，推荐你这样玩出重庆精髓。<br>

    </div>
    <div class="catalog col-md-4 col-sm-4 col-12">
       
    </div>

</div>

</section>
<footer></footer>

<script src="../js/jquery.min.js"></script>
<!-- <script src="../js/strategy_details.js"></script> -->
<script src="../js/header.js"></script>
<script src="../js/footer.js"></script>
<script src="../js/popper.min.js"></script>
<script src="../js/bootstrap.min.js"></script>
</body>

</html>