<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>登录/注册</title>
    <meta name="viewport" content="width=device-width,initial-scale=1"/>
    <link rel="stylesheet" href="../css/bootstrap.css">
    <link rel="stylesheet" href="../css/iconfont.css">
    <link rel="shortcut icon" href="../img/logo/lemon_logo_pic.png"/>
    <link rel="stylesheet" href="../css/strategy_details.css">
</head>
<section>

</section>


<script src="../js/jquery.min.js"></script>
<!-- <script src="../js/strategy_details.js"></script> -->
<script src="../js/header.js"></script>
<script src="../js/popper.min.js"></script>
<script src="../js/bootstrap.min.js"></script>
</body>

</html>