<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Lemon</title>

    <!--favicon -->
    <link rel="stylesheet" href="../css/bootstrap.css">
    <link rel="stylesheet" href="../css/base.css">
    <link rel="stylesheet" href="../css/strategy.css">
    <link rel="stylesheet" href="../css/header.css">
    <link rel="shortcut icon" href="../img/logo/lemon_logo_pic.png" />
    <link rel="stylesheet" href="../css/iconfont.css">
</head>

<body>
    <header id="header" class="container-fluid"></header>
    <div class="container-fluid">
    <!-- <%- include("./header.html") %> -->
    <!-- <div class="list-title p-2 position-absolute w-100">热门旅游地</div> -->
    <div class="container city-lists">
        <div class="row">
            <div class="col-sm-4 list-left">
                <ul class="menus">
                    <li class="bg">tab1</li>
                    <li>tab2</li>
                    <li>tab3</li>
                    <li>tab4</li>
                    <li>tab5</li>
                    <li>tab6</li>
                    <li>tab7</li>
                </ul>
            </div>

            <div class="list-right col-sm-8 p-0">
                <div class="right">
                    <div class="scroll">
                        <div class="tab_right">
                            <img src="assets/a1.png" alt="">
                        </div>
                        <div class="tab_right">
                            <img src="assets/a2.png" alt="">
                        </div>
                        <div class="tab_right">
                            <img src="assets/a3.png" alt="">
                        </div>
                        <div class="tab_right">
                            <img src="assets/a4.png" alt="">
                        </div>
                        <div class="tab_right">
                            <img src="assets/a5.png" alt="">
                        </div>
                        <div class="tab_right">
                            <img src="assets/a6.png" alt="">
                        </div>
                        <div class="tab_right">
                            <img src="assets/a7.png" alt="">
                        </div>
                    </div>
                </div>

                <div class="clear"></div>
            </div>
        </div>
    </div>
</div>
    

    <script src="../js/jquery.min.js"></script>
     <script src="../js/strategy.js"></script> 
     <script src="../js/header.js"></script>
    <script src="../js/popper.min.js"></script>
    <script src="../js/bootstrap.min.js"></script>
</body>

</html>