<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Lemon-游记</title>
    <meta name="viewport" content="width=device-width,initial-scale=1"/>
    <link rel="stylesheet" href="../css/bootstrap.css">
    <link rel="stylesheet" href="../css/iconfont.css">
    <link rel="shortcut icon" href="../img/logo/lemon_logo_pic.png"/>
    <link rel="stylesheet" href="../css/travels.css">
    <!-- <script src="../js/jquery.min.js"></script> -->
    <!--<script src="../js/popper.min.js"></script>-->
    <!--<script src="../js/bootstrap.min.js"></script>-->
</head>

<body >
<header></header>

<section>
    <div id="bigImg" class="container-fluid w-100 p-0 m-0">
        <picture>
            <source media="(min-width: 1000px)" srcset="../img/carousel/lb22.png">
            <source media="(max-width:999px)" srcset="../img/carousel/lb22_500_250.png">
            <img class="w-100" src="../img/carousel/picture.png">
        </picture>  
    </div>
    <div class="container p-0">
        <div id="navigation" class="row border-bottom m-auto pt-2">
            <div class="col-12 col-md order-2 order-md-0 d-flex pt-2 m-0 align-items-end justify-content-around justify-content-md-start">
                <span class="pb-2 pb-md-0 mb-0 ml-0 h-100 active">推荐游记</span>
                <span class="pb-2 pb-md-0 mb-0 ml-sm-4  h-100">热门游记</span>
                <span class="pb-2 pb-md-0 mb-0 ml-sm-4  h-100">最近发布</span>
                <span class="pb-2 pb-md-0 mb-0 ml-sm-4 mr-0 h-100">全部游记</span>
            </div>
            <form class="col-12 d-none order-1 col-md-auto d-lg-flex justify-content-end align-items-center">
                <div class="row d-flex align-items-center">
                    <input class="col bg-transparent p-0 m-0 h5" type="text" placeholder="搜索游记...">
                    <a href="javascript:;" class="col-auto iconfont icon-sousuo border-danger text-dark pl-1  pr-1"></a>
                </div>
            </form>
            <div class="co-12 col-md-auto order-0 order-md-2 text-center text-md-right">
                <button class="btn btn-group-sm btn-warning mr-1 mb-2 mt-4 mt-md-2" type="button"><a href="#" class="iconfont icon-youji1">我的游记</a></button>
                <button class="btn btn-group-sm btn-warning ml-1 mb-2 mt-4 mt-md-2" type="button"><a href="add_travel.html" class="iconfont icon-fabiaoyouji">发表游记</a></button>
            </div>
        </div>
        <div id="content" class="pt-4 pl-2 pr-2 container">
            <div class="row ml-0 mr-0 mb-3 item">
                <div class="col-3 h-100 pr-1 pl-0">
                    <img class="img-fluid h-100 p-0" src="../img/carousel/lb03.png" >
                </div>
                <div class="col-9 h-100 pl-1 ">
                    <h5 class="w-100 m-0">#摄影#海岛#家庭游</h5>
                    <p class="w-100 p-1 m-0">
                        三亚，是一座小旅兔向往已久的城市。想观赏那碧海蓝天、椰林婆娑的美景，想感受海风拂面、海浪拍打脚丫的轻柔，想和最爱的人一起看日出沧海和渔船归帆……这次，因参加百家号的“百家趣玩咖第3站•三亚Fun肆之旅”活动，小旅兔终于来到了心心念念的三亚。
                    </p>
                    <div class="row align-items-end text-muted m-0">
                        <div class="col text-left p-0">
                            <span >2018-9-9</span>
                            <span>冒烟烟&nbsp;&nbsp;</span>
                            <span class="iconfont icon-browse">&nbsp;</span>
                            <span >111</span>
                         
                        </div>
                        <div class="col-auto text-right p-0 mr-2">   
                            <span class="iconfont icon-love ">&nbsp;</span>
                            <span>1234</span>
                        </div>  
                    </div>
                </div>
            </div>

            <div class="row ml-0 mr-0 mb-3 item">
                <div class="col-auto h-100 pr-1 pl-0">
                    <img class="img-fluid h-100 p-0" src="../img/270-165/Malaysia06.png" >
                </div>
                <div class="col h-100 p-0 ml-1">
                    <h5 class="w-100 m-0">#摄影#海岛#家庭游</h5>
                    <p class="w-100 p-1 m-0">
                        三亚，是一座小旅兔向往已久的城市。想观赏那碧海蓝天、椰林婆娑的美景，想感受海风拂面、海浪拍打脚丫的轻柔，想和最爱的人一起看日出沧海和渔船归帆……这次，因参加百家号的“百家趣玩咖第3站•三亚Fun肆之旅”活动，小旅兔终于来到了心心念念的三亚。
                    </p>
                    <div class="row align-items-end text-muted m-0">
                        <div class="col text-left p-0">
                            <span>冒烟烟&nbsp;&nbsp;</span>
                            <span class="iconfont icon-browse">&nbsp;</span>
                            <span >111</span>
                        </div>
                        <div class="col-auto text-right p-0 mr-2">
                            <span class="iconfont icon-love ">&nbsp;</span>
                            <span>1234</span>
                        </div>  
                    </div>
                </div>
            </div>
            <div class="row ml-0 mr-0 mb-3 item">
                <div class="col-auto h-100 pr-1 pl-0">
                    <img class="img-fluid h-100 p-0" src="../img/270-165/Malaysia06.png" >
                </div>
                <div class="col h-100 p-0 ml-1">
                    <h5 class="w-100 m-0">#摄影#海岛#家庭游</h5>
                    <p class="w-100 p-1 m-0">
                        三亚，是一座小旅兔向往已久的城市。想观赏那碧海蓝天、椰林婆娑的美景，想感受海风拂面、海浪拍打脚丫的轻柔，想和最爱的人一起看日出沧海和渔船归帆……这次，因参加百家号的“百家趣玩咖第3站•三亚Fun肆之旅”活动，小旅兔终于来到了心心念念的三亚。
                    </p>
                    <div class="row align-items-end text-muted m-0">
                        <div class="col text-left p-0">
                            <span>冒烟烟&nbsp;&nbsp;</span>
                            <span class="iconfont icon-browse">&nbsp;</span>
                            <span >111</span>
                        </div>
                        <div class="col-auto text-right p-0 mr-2">
                            <span class="iconfont icon-love ">&nbsp;</span>
                            <span>1234</span>
                        </div>  
                    </div>
                </div>
            </div>
            <div class="row ml-0 mr-0 mb-3 item">
                <div class="col-auto h-100 pr-1 pl-0">
                    <img class="img-fluid h-100 p-0" src="../img/270-165/Malaysia06.png" >
                </div>
                <div class="col h-100 p-0 ml-1">
                    <h5 class="w-100 m-0">#摄影#海岛#家庭游</h5>
                    <p class="w-100 p-1 m-0">
                        三亚，是一座小旅兔向往已久的城市。想观赏那碧海蓝天、椰林婆娑的美景，想感受海风拂面、海浪拍打脚丫的轻柔，想和最爱的人一起看日出沧海和渔船归帆……这次，因参加百家号的“百家趣玩咖第3站•三亚Fun肆之旅”活动，小旅兔终于来到了心心念念的三亚。
                    </p>
                    <div class="row align-items-end text-muted m-0">
                        <div class="col text-left p-0">
                            <span>冒烟烟&nbsp;&nbsp;</span>
                            <span class="iconfont icon-browse">&nbsp;</span>
                            <span >111</span>
                        </div>
                        <div class="col-auto text-right p-0 mr-2">
                            <span class="iconfont icon-love ">&nbsp;</span>
                            <span>1234</span>
                        </div>  
                    </div>
                </div>
            </div>
            <div class="row ml-0 mr-0 mb-3 item">
                <div class="col-auto h-100 pr-1 pl-0">
                    <img class="img-fluid h-100 p-0" src="../img/270-165/Malaysia06.png" >
                </div>
                <div class="col h-100 p-0 ml-1">
                    <h5 class="w-100 m-0">#摄影#海岛#家庭游</h5>
                    <p class="w-100 p-1 m-0">
                        三亚，是一座小旅兔向往已久的城市。想观赏那碧海蓝天、椰林婆娑的美景，想感受海风拂面、海浪拍打脚丫的轻柔，想和最爱的人一起看日出沧海和渔船归帆……这次，因参加百家号的“百家趣玩咖第3站•三亚Fun肆之旅”活动，小旅兔终于来到了心心念念的三亚。
                    </p>
                    <div class="row align-items-end text-muted m-0">
                        <div class="col text-left p-0">
                            <span>冒烟烟&nbsp;&nbsp;</span>
                            <span class="iconfont icon-browse">&nbsp;</span>
                            <span >111</span>
                        </div>
                        <div class="col-auto text-right p-0 mr-2">
                            <span class="iconfont icon-love ">&nbsp;</span>
                            <span>1234</span>
                        </div>  
                    </div>
                </div>
            </div>
            <div class="row ml-0 mr-0 mb-3 item">
                <div class="col-auto h-100 pr-1 pl-0">
                    <img class="img-fluid h-100 p-0" src="../img/270-165/Malaysia06.png" >
                </div>
                <div class="col h-100 p-0 ml-1">
                    <h5 class="w-100 m-0">#摄影#海岛#家庭游</h5>
                    <p class="w-100 p-1 m-0">
                        三亚，是一座小旅兔向往已久的城市。想观赏那碧海蓝天、椰林婆娑的美景，想感受海风拂面、海浪拍打脚丫的轻柔，想和最爱的人一起看日出沧海和渔船归帆……这次，因参加百家号的“百家趣玩咖第3站•三亚Fun肆之旅”活动，小旅兔终于来到了心心念念的三亚。
                    </p>
                    <div class="row align-items-end text-muted m-0">
                        <div class="col text-left p-0">
                            <span>冒烟烟&nbsp;&nbsp;</span>
                            <span class="iconfont icon-browse">&nbsp;</span>
                            <span >111</span>
                        </div>
                        <div class="col-auto text-right p-0 mr-2">
                            <span class="iconfont icon-love ">&nbsp;</span>
                            <span>1234</span>
                        </div>  
                    </div>
                </div>
            </div>
        </div>
        <div id="page-nav" class="row w-100 m-0">
            <ul class="col-12 col-md d-flex justify-content-center justify-content-md-start align-items-center mb-1 p-0">
                <li><a href="#">首页</a></li>
                <li><a class="iconfont icon-arrow_prev" href="#"></a></li>
                <li class="active"><a href="#">1</a></li>
                <li><a href="#">2</a></li>
                <li><a href="#">3</a></li>
                <li><a class="iconfont icon-arrow_next" href="#"></a></li>
                <li><a href="#">尾页</a></li>
            </ul>
            <p class="col-12 col-md-auto d-flex justify-content-center align-items-center mb-1 mr-2 p-0">
                第<input type="number" class="text-center" >页/共<span>123</span>页
                <button class="btn btn-sm">确定</button>  
            </p>
        </div> 
    </div>


    <!--<div class="container d-flex justify-content-center align-items-center m-auto tab">-->
        <!--<div class="line"></div>-->
        <!--<p class="m-0 p-2 p-md-3">精品游记</p>-->
        <!--<div class="line"></div>-->
    <!--</div>-->
</section>

<footer></footer>
<script src="../js/jquery-1.11.3.js"></script>
<script src="../js/header.js"></script>
<script src="../js/travels.js"></script>
<script src="../js/footer.js"></script>
</body>
</html>