@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  border: 0; }

a:hover {
  text-decoration: none; }

#top > p {
  width: 100%;
  text-align: center;
  text-shadow: 0 0 0.2em #8F7;
  letter-spacing: 0.5rem;
  top: 30%;
  left: 50%;
  transform: translateX(-50%); }

#top > div {
  bottom: 10%;
  left: 50%;
  transform: translateX(-50%);
  box-shadow: 3px 3px 31px 0px #000; }
  #top > div > input {
    width: 100%;
    border-radius: 5px; }

#content > div.aside {
  box-shadow: -2px 0 5px rgba(0, 0, 0, 0.3);
  font-family: "微软雅黑"; }
  #content > div.aside > div {
    height: auto; }
    #content > div.aside > div > ul {
      background-color: #fff;
      width: 0px;
      overflow: hidden;
      transition: width 0.3s linear; }
      #content > div.aside > div > ul > li {
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
        font-weight: normal !important;
        white-space: nowrap;
        overflow: hidden;
        padding: 0.5rem;
        padding-left: 0; }
        #content > div.aside > div > ul > li > input {
          width: 100%;
          height: 100%;
          top: 0;
          left: 0;
          opacity: 0; }
        #content > div.aside > div > ul > li:hover {
          box-shadow: 0px 0px 20px 4px rgba(0, 0, 0, 0.1); }
        #content > div.aside > div > ul > li:nth-child(6), #content > div.aside > div > ul > li:nth-child(7), #content > div.aside > div > ul > li:nth-child(8) {
          border: none; }
          #content > div.aside > div > ul > li:nth-child(6):hover, #content > div.aside > div > ul > li:nth-child(7):hover, #content > div.aside > div > ul > li:nth-child(8):hover {
            box-shadow: none; }
        #content > div.aside > div > ul > li > ol {
          list-style-type: decimal-leading-zero !important; }

#content .section {
  border-right: 0 !important;
  overflow: scroll;
  -ms-overflow-style: none;
  overflow: -moz-scrollbars-none; }
  #content .section > div > div:first-child {
    max-width: 100%; }
  #content .section::-webkit-scrollbar {
    display: none; }
  #content .section img {
    max-height: 500px;
    max-width: 100%; }
  #content .section textarea {
    margin-left: 1px;
    resize: none; }

#content .my-btn button:first-child {
  background: #fff;
  box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.5);
  color: #28a745; }
  #content .my-btn button:first-child:hover {
    box-shadow: inset 0px 0px 20px 2px rgba(0, 0, 0, 0.5); }

#content .my-btn button:last-child {
  box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.5);
  background: #28a745;
  color: #fff; }
  #content .my-btn button:last-child:hover {
    box-shadow: inset 0px 0px 20px 2px rgba(0, 0, 0, 0.5); }

@media screen and (min-width: 768px) {
  #top > p {
    font-size: 2rem; }
  #top > div {
    width: 50%; }
    #top > div > input {
      height: 4rem; }
  #content .aside {
    height: 1000px; }
  #content .section {
    height: 1000px; }
  #content ul {
    font-size: 1rem; }
    #content ul a {
      font-size: 1.5rem; }
    #content ul.spread {
      width: 150px !important; }
  #content .my-btn button {
    font-size: 1.2rem;
    width: 8rem;
    height: 3rem;
    border-radius: 1.5rem; } }

@media screen and (max-width: 767px) {
  #top > p {
    font-size: 1.3rem; }
  #top > div {
    width: 75%; }
    #top > div > input {
      height: 2rem; }
  #content .aside {
    height: 500px; }
  #content .section {
    height: 500px; }
  #content ul {
    font-size: 0.8rem; }
    #content ul.spread {
      width: 120px !important; }
    #content ul a {
      font-size: 1rem; }
  #content .my-btn button {
    font-size: 1rem;
    width: 6rem;
    height: 2rem;
    border-radius: 1rem; } }
