.text_muted{
    font-size: 0.8rem;
    color:#b4b4b4;
}

/* 目的地 */
.destination .selected{
    background:#e6b9b9;
}
.text_tab{
    font-size: 24px;
}

.destination  #tab_menu li{
    border: 1px solid #e6b9b9;
}
.destination .hide{
    display: none;
}

.pop_title{
    font-size: 24px;
    font-weight: bold;
}
/* 指南 */
.views{
    font-size: 0.8rem;
}

/* 游记 */
.popTravels .travel_title {
    white-space: nowrap;
    overflow:hidden;
    text-overflow:ellipsis;
    -ms-text-overflow: ellipsis;
    width: 90%;
}

@media screen and (max-width:375px){
   
}
@media screen and (min-width:375px) and (max-width:768px){
   
}
@media screen and (min-width:768px) and (max-width:992px){
  
}
@media screen and (min-width:992px){
 
}




