/* list-left */
.city-lists {
	 position: relative; 
}
/* .list-left li { 
	font: 1rem "微软雅黑"; 
	color: #000; 
	text-align: center; 
	cursor: pointer; 
     background: #8ed1c3; 
    border:1px solid #8ed1c3;
}
.list-left .list_cutLi { 
	background: #FAD949; 
} */


/*list-right */
.list-right { 
	border:1px solid #bbb;
}
.views{
    font-size: 0.8rem;
}
.list-right .card,
.list-right .card-header,
.list-right .card-footer{
    border: none;
    background: #fff;
}
.list-right .card-footer{
    text-indent: 2rem;
}


@media screen and (max-width:375px){
    .list-left ul li{
        display: none;
    }
}
@media screen and (min-width:375px) and (max-width:768px){
 
}
@media screen and (min-width:768px) and (max-width:992px){
  
}
@media screen and (min-width:992px){
 
} 
