/* bigTitle */
.strategy_details .bigTitle div {
  border-bottom: 1px solid #ddd; }
  .strategy_details .bigTitle div p {
    font-size: 0.8rem; }

.strategy_details .bigTitle .tag li > p :nth-child(1):hover {
  color: #FF9D00; }

.strategy_details .bigTitle .tag li > p :nth-child(2) {
  font-size: 0.8rem; }

/*content*/
.strategy_details .details .content > div h5::first-letter {
  font-size: 66rem;
  color: #FF9D00; }
