* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0; }

ul > li {
  list-style: none; }

a {
  color: #000; }
  a:hover {
    color: #000;
    text-decoration: none; }

.line {
  background: rgba(0, 0, 0, 0.5);
  height: 1px;
  width: 100px; }

.icon-love {
  color: pink; }

section #navigation .active {
  color: #28a745;
  border-bottom: 2px solid #28a745; }

section #content > div.item:hover {
  box-shadow: 0px 0px 15px 2px #ffc107;
  transition: all .3s linear; }

section #page-nav > ul > li {
  height: 1.5rem;
  border: 0.5px solid rgba(0, 0, 0, 0.1);
  text-align: center;
  line-height: 1.5rem;
  padding-left: 0.7rem;
  padding-right: 0.7rem; }
  section #page-nav > ul > li:nth-child(2), section #page-nav > ul > li:nth-child(3), section #page-nav > ul > li:nth-child(4), section #page-nav > ul > li:nth-child(5) {
    border-right: 0; }
  section #page-nav > ul > li:first-child, section #page-nav > ul > li:last-child {
    margin: 0.5rem; }
  section #page-nav > ul > li.active {
    color: #fff !important;
    background: rgba(40, 167, 69, 0.7); }
  section #page-nav > ul > li:hover {
    color: #fff !important;
    background: #dddddd; }

section #page-nav > p > input {
  display: inline-block;
  width: 3rem;
  margin-left: 1rem;
  margin-right: 1rem;
  border: 0.5px solid rgba(0, 0, 0, 0.1); }

section #page-nav > p > button {
  border-radius: 3px;
  padding-left: 1rem;
  padding-right: 1rem;
  margin-left: 1rem;
  color: rgba(0, 0, 0, 0.7); }
  section #page-nav > p > button:hover:hover {
    background: rgba(40, 167, 69, 0.7); }
  section #page-nav > p > button:hover:focus {
    box-shadow: none !important; }

@media screen and (min-width: 768px) {
  section #navigation > div:first-child > span {
    font-size: 1.3rem; }
  section #navigation > form > div {
    box-shadow: inset 0px 0px 19px 2px rgba(0, 0, 0, 0.3);
    font-size: 1.3rem;
    width: 2rem;
    height: 2rem;
    border-radius: 1rem; }
    section #navigation > form > div > input {
      opacity: 0; }
    section #navigation > form > div:hover {
      padding-left: 1.2rem;
      width: 16rem;
      transition: width 0.5s linear; }
  section #content > div.item {
    height: 165px; }
    section #content > div.item > div:nth-child(2) > h5 {
      height: 25%;
      font-size: 1.2rem; }
    section #content > div.item > div:nth-child(2) > p {
      line-height: 1.4;
      height: 50%;
      font-size: 1rem;
      overflow: hidden;
      text-overflow: ellipsis; }
    section #content > div.item > div:nth-child(2) > div {
      height: 25%;
      font-size: 0.8rem; }
  section #page-nav {
    font-size: 1.2rem; } }

@media screen and (max-width: 767px) {
  section #navigation > div:first-child > span {
    font-size: 0.8rem; }
  section #content > div.item {
    height: 80px; }
    section #content > div.item > div:nth-child(2) > h5 {
      height: 25%;
      font-size: 1rem; }
    section #content > div.item > div:nth-child(2) > p {
      line-height: 1.4;
      height: 50%;
      font-size: 0.8rem;
      /* white-space: nowrap; */
      overflow: hidden;
      text-overflow: ellipsis; }
    section #content > div.item > div:nth-child(2) > div {
      height: 25%;
      font-size: 0.8rem; }
  section #page-nav {
    font-size: 0.8rem; }
    section #page-nav > ul > li {
      font-size: 0.8rem; } }
